<h1>Subs Index</h1>

<%= link_to "Create Sub", new_sub_url %>

<br>

<ul>
  <% if @subs %>
    <% @subs.each do |sub| %>
      <li><%= link_to "#{sub.title}", sub_url(sub) %></li>
    <% end %>
  <% end %>
</ul>
